<section>
    <div class="container">
       <div class="row">
           <div class="col-sm-5">
             <div class="p-profile"></div>
           </div>
            <div class="col-sm-7">
                <h5>portfolio project</h5>
               
               <p> <i>a portfolio of myself as a web developer:

                This contains the following, a bright recent photo of myself, brief description about my bio and skills, Ratings for the skills I currently have as a developer, displays of my recent project(s) and Contact form to send you a message</i> </p>
               <br>
               <h6>project url: <a href="https://github.com/adayesi/portfolio">Click Here</a></h6>
               <h6>project image url: <a href="https://drive.google.com/file/d/1Ov_MKXKpxOSoluYw0_ni3TfpgJ16eAEA/view?usp=sharing">Click Here</a></h6>
               
              
               
              
           
            
                

            </div>
       </div>
    </div>
</section>


