<div class="background-img">

 

    <div class="container mt-5">
    
        <h1>contact me</h1>
    
        <form action="" class="row g-3">
    
            <div class="col-md-6">
    
                <label for="firstName" class="first name"><b>FirstName</b></label>
    
                <input type="text"class="form-control " id="firstName" required>
    
            </div>
    
            <div class="col-md-6">
    
                <label for="LastName" class="Last name"><b>LastName</b></label>
    
                <input type="text"class="form-control " id="LastName" required>
    
            </div>
    
     
    
            <div class="col-md-8">
    
                <label for="email" class="form-label"><b>Email</b></label>
    
                <input type="emaiemail" class="form-control" id="email" required>
    
            </div>
    
            <div class="col-md-4">
    
                <label for="phone" class="form-lable"><b>Phone Number</b></label>
    
                <input type="text" class="form-control" id="phone" placeholder="">
    
            </div>
    
                <div class="col-md-12">
    
                    <label for="comments" class="form-label"><b>Comments</b></label>
    
                    <textarea class="form-control" id="comments" rows="5"></textarea>
    
                   
    
               
    
            </div>
    
            <div class="col-md-12 mt-2">
    
                <button type="submit" class="btn btn-primary">submit</button>
    
            </div>
    
        </form>
    
    </div>
    
     
    
    </div>
    
    

