<section>
    <div class="container">
       <div class="row">
           <div class="col-sm-5">
             <div class="p-profile"></div>
           </div>
            <div class="col-sm-7">
                <h1>Abah Edward Adayesi.</h1>
               <span class="p-tag"><b>C# | .Net Developer and an Agile Leader.</b></span>
               <p>.NET is a Microsoft framework that allows developers to create applications, online software, and interfaces. .NET is just one of the frameworks from Microsoft but is the top solution for Windows servers both on local networks and in the cloud. </p>
               <br>
               <p>Agile leadership is the craft of creating the right context for self-organisation. An environment where agile teams collaborate, learn from each other, get quick feedback from users and are focused on quality and continuous learning. He or she doesn’t micro-manage the people nor creates total freedom. Balancing between anarchy and strict structure is crucial in today’s markets. Developing and maintaining this right environment is often hard work. With focus on culture, ownership, mindset, feedback and long term goals.</p>
               <br>
               <div>
                   <h6>
                       Hire/Inquiry:
                       <ul>
                           <li><b>Github:</b> adayesi</li>
                           <li><b>Twitter:</b> Abahadayesi</li>
                           <li><b>Mail:</b> abah.edward@decagon.dev</li>

                           
                       </ul>
                   </h6>
                   <br>
               </div> <b>Send me a message</b>
               <br>
               <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Enter Your Fullname"/>
                    <br>
                    <input id="message" type="email" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Write Message Here"/>
                    <br>
                    
                </div>
                <button class="btn btn-warning"><b>Send Message</b></button>
                </form>
                

            </div>
       </div>
    </div>
</section>
